@model IEnumerable<test5.Models.Inventory>
@{
    ViewBag.Title = "Clearance Items";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <h1> Clearance</h1>
    <li>
        @foreach (var product in Model)
        {
                if (product.discountPrice > 0)
                {
                    <ul>
                        <a href="/Home/ProductDetails/@product.ID">
                            <img src="@product.image" />
                            <p class="prod_desc">@product.description</p>
                            <i style="text-decoration: line-through; margin-right: 1.0em;">$@product.discountPrice USD</i>
                            <strong>Now $@product.price USD</strong>
                        </a>
                    </ul>
                }
        }
    </li>
</div>