@using test5.Models;
@{
    ViewBag.Title = "Clearance Items";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <li>
        @foreach (var product in Model)
        {
                if (!String.IsNullOrEmpty(product.discountPrice))
                {
                    <ul>
                        <img src="@product.image" />
                        <p class="prod_desc">@product.description</p>
                        <i style="text-decoration: line-through; margin-right: 1.0em;">@product.discountPrice</i>
                        <strong>Now @product.price</strong>
                    </ul>
                }
        }
    </li>
</div>