@model Inventory
@{
    ViewBag.Title = "Home Page";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <h1> All Products</h1>
    <li>
        @foreach (var product in Model.Products)
        {
            <ul><img src="@product.image"/>
                <p class="prod_desc">
                    @if (product.entryDate.Year == DateTime.Today.Year)
                    {
                        <strong>NEW! </strong>
                    }
                    @product.description
                </p>
                <p class="pricing">
                    @if (!String.IsNullOrEmpty(product.discountPrice))
                    {
                        <i style="text-decoration: line-through; margin-right: 1.0em;">@product.discountPrice</i><strong>Now </strong>
                    }
                    @product.price
                </p></ul>
        }
    </li>
</div>