@using test5.Models;
@model test5.Models.Inventory

@{
    ViewBag.Title = "Product Details";
}
<script>

    // Validate to item quantity before adding tiem to the shopping cart.
    function addToCart(invQty)
    {

        var addQty = parseInt(document.getElementById("numToAdd").value);
        if (addQty < 1) // Requirement 3.2.8.3.2
        {
            alert("Error, you have entered an invalid quantity of " + addQty + ". Please enter a different quantity.");
        }
        else if (addQty > parseInt(invQty) ) // Requirement 3.2.8.3.2
        {
            alert("Error, you have entered a quantity of " + addQty + " which is greater than what is in stock (" + invQty + "). Please enter a different quantity.");
        }
        else
        {
            parent.location = "/Home/Add/@Model.itemID/" + addQty;
        }
    }

</script>

<!-- Display detailed product info here... (Section 4.7) -->
<div class="product_details" onload="checkStock()">
    <br />
    <h1> Product Details</h1>
    <img src="@Model.image" />
    <br />

@{ 
    if (Model.EntryDate.Year == DateTime.Today.Year)
    {
        <strong>NEW! </strong>
    }
    @Model.detailedDescription

    <!-- requirement 3.2.9.3.1 -->
    if (Model.discountPrice > 0)
    {
        <p class="pricing">
            <i style="text-decoration: line-through; margin-right: 1.0em;">$@Model.price USD</i><strong>Now </strong> <!-- requirement 3.2.8.3.1, 3.4.2 -->
            $@Model.discountPrice USD <!-- requirement 3.2.8.3.1, 3.4.2 -->
        </p>
    }
    else
    {
        <p class="pricing">
            $@Model.price USD <!-- requirement 3.2.8.3.1, 3.4.2 -->
        </p>
    }
    <!-- If the inventory is empty, do not allow the customer to add to cart and display Out of Stock. Requierment 3.2.9.3.2, 3.2.9.3.3 -->
    if (Model.quantity < 1)
    {
        <p style="font-size:large; text-decoration:underline">Out of Stock</p>
    }
    else
    {
        <p>@Model.quantity In Stock</p>
        <textarea class="product_details" id="numToAdd">1</textarea>
        <button id="addButton" onclick="addToCart(@Model.quantity)">Add to Cart</button>
    }
} 
</div>