@using test5.Models;
@model test5.Models.Inventory

@{
    ViewBag.Title = "Product Details";
}
<script>
    // requierment 3.2.9.3.2, 3.2.9.3.3
    function checkStock()
    {
	    var itemQuantity = 0;
        for (var product in Model.Inventory)
	    {
            if (product.itemID == Model.itemID) {
                itemQuantity++
	        }
	    }

	    if (itemQuanity <= 0)
        {
            document.getElementById("addButton").innerHTML = "Out of Stock";
            document.getElementById("addButton").disabled = true;         
        }
	    return itemQuantity;
    }

    function addToCart()
    {

        var addQty = parseInt(document.getElementById("numToAdd").value);
        if (addQty < 1) // Requirement 3.2.8.3.2
        {
            alert("Error, you have entered an invalid quantity of " + addQty + ". Please try again.");
        }
        else if (addQty > 5) // Requirement 3.2.8.3.2
        {
            alert("Error, you have entered a quantity of " + addQty + " which is greater than what is in stock. Please try again.");
        }
        else
        {
            parent.location = "/Home/Add/@Model.itemID/" + addQty;
        }
    }

</script>
<!-- Display general product info here... -->
<div class="product_details">
    <br />
    <h1> Product Details</h1>
    <img src="@Model.image" />
    <br />
    <p>
        @if (Model.EntryDate.Year == DateTime.Today.Year)
    {
            <strong>NEW! </strong>
        }
        @Model.detailedDescription
    <p class="pricing">
    @if (Model.discountPrice > 0)
        {
        <i style="text-decoration: line-through; margin-right: 1.0em;">$@Model.discountPrice USD</i><strong>Now </strong>
        }
        $@Model.price USD
    </p>
    <p><script>checkStock();</script></p>
    <textarea id="numToAdd">1</textarea>
    <button onclick="addToCart()">Add to Cart</button>
</div>