@using test5.Models;
@{
    ViewBag.Title = "New Products";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <li>
        
        @foreach (var product in Model)
        {
                if (product.EntryDate.Year == DateTime.Today.Year)
                {
                    <ul>
                        <img src="@product.image" />
                        <p class="prod_desc">@product.description</p>
                        <strong> NEW! </strong>
                        <p class="pricing">@product.price</p>
                    </ul>
                }
        }
    </li>
</div>