@using test5.Models;
@{
    ViewBag.Title = "New Products";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <h1> New Products</h1>
    <li>
        
        @foreach (var product in Model)
        {
                if (product.EntryDate.Year == DateTime.Today.Year)
                {
                    <ul>
                        <a href="/Home/ProductDetails/@product.itemID">
                            <img src="@product.image" />
                            <p class="prod_desc"><strong>NEW! </strong>@product.description</p>
                            <p class="pricing">$@product.price USD</p>
                        </a>
                    </ul>
                }
        }
    </li>
</div>