@using test5.Models;
@model IEnumerable<test5.Models.Inventory>

@{
    ViewBag.Title = "New Products";
}

<!-- Display general product info here... -->
<div class="product">
    <br />
    <h1> New Products</h1>
    <li>
        
        @foreach (var product in Model)
        {
                if (product.dateReceived.Year == DateTime.Today.Year)
                {
                    <ul>
                        <!-- requirement 3.2.12.3.1 -->
                        <a href="/Home/ProductDetails/@product.itemID">
                            <img src="@product.image" />
                            <p class="prod_desc">
                                @if (product.EntryDate.Year == DateTime.Today.Year)
                                {
                                    <strong>NEW! </strong>
                                }
                                @product.description
                            </p>
                            <p class="pricing">
                                @if (Convert.ToInt32(product.discountPrice) > 0)
                                {
                                    <i style="text-decoration: line-through; margin-right: 1.0em;">$@product.discountPrice USD</i><strong>Now </strong>
                                }
                                $@product.price USD <!-- requirement 3.2.8.3.1, 3.4.2 -->

                            </p>
                        </a>
                    </ul>
                }
        }
    </li>
</div>